 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
 
.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.dark-01{
    color: rgba(19, 19, 19, 1);
}
.dark-02{
    color: rgba(66, 66, 66, 1);
}
.dark-03{
    color: rgba(114, 114, 114, 1);
}
h3{
    margin: 0;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
    

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
 }
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
   
}
.links{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.banner-img{
    width: 100%;
}
/* main styles */
.featuers{
    align-items: center;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 8px;
}
.features-content{
    max-width: 540px;
    margin-left: 80px;
}
.features-title{
    font-size: 3rem;
    font-weight: 600;
}
.features-description{
    font-size: 1rem;
    font-weight: 400;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .featuers{
        flex-direction: column;
    }
    .featuers{
        gap: 20px;
    }
}